.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Animation */

.block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	background: #2d2d2d;
}
.btn { 
    font-size: 1.5em;
    border: 0;
	padding: 20px 60px;
	border-radius: 57px;
	background: #aed6d1;
	transition: 1s;
    font-weight: 800;
	color: #2d2d2d;
    cursor: pointer;    
}
.btn:hover {
	background: #55706d;
    color: #b2b38a;
}

