.container {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
a {
	text-decoration: none;
}

.block {
	width: 500px;
	height: 500px;
	background: #2C3E50;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	font-family: monospace;
	letter-spacing: 10px;
	text-transform: uppercase;
	display: inline-block;
	padding: 30px 50px;
	color: #2C3E50;
	background: #fff;
	font-size: 2em;
	box-shadow: 20px 20px #8E44AD;
	transition: .5s;
}
.btn:hover {
	background: #8E44AD;
	color: #fff;
	transform: translateX(20px) translateY(20px);
	box-shadow: -20px -20px #fff;
}